.DS_Store
build
test-coverage
*.iws

.apidoc
# Generated through integration tests
ts-node

settings.yml
settings.js
node_modules
bower_components
npm-debug.log
.idea
/public/js
/public/initialize-app
.config

test-results.xml
local.log
browserstack.err

*._
*.sw[opqr]
*.swap
.*.swp
*humbs.db
.classpath

.settings/
target/
.project
.settings
.tern-project
komed-health.iml
